tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /Users/REPLACE_WITH_USERNAME/.cloudflared/REPLACE_WITH_TUNNEL_ID.json

ingress:
  - hostname: qr.REPLACE_WITH_DOMAIN
    service: http://localhost:8080
  - service: http_status:404
